body{
				font-family: TimesNewsRoman;
				font-size: 18px;
				text-align: justify;
				padding: 1%;
				background-color: #F5FFFA;						
				border: 10px solid black;					 	
				}				
			header{
				text-align: center;							
			}
			h1{
				text-align: center;				
				font-size: 30px;
				color: black;
  				text-shadow: -1px 0 yellow;
			}
			h2{
				font-size: 20px;						
			}
			.img{
				max-width: 100%;
				text-align: center;			
			}
			#KaiqueImg{
				border-radius: 50%;		
			}
			a:link, a:visited, a:active{
				text-decoration: none;				
			}
			a:hover{
				background-color: #F5FFFA;
				color: #B0E0E6;
			}						
			table {
			  border-collapse: collapse;
			  width: 100%;			  
			}
			th, td {
			  padding: 8px;
			  text-align: Center;
			  border-bottom: 1px solid black;
			  height: 200%;
			  cursor: pointer;
			}
			tr:hover {background-color:#DEFFFB
			}
			h3{
				text-align: center;
			}
			p{
				text-align: center;				
			}
			footer{
				background-color: #DEFFFB;
				text-align: center;				
			}
			button{			  
			  color: green;
			  padding: 16px 32px;
			  text-align: center;			  
			  font-size: 16px;
			  margin: 4px 2px;
			  transition-duration: 0.4s;
			  cursor: pointer;
			}
			button:hover {background-color: #DEFFFB;
  			  color: yellow;			 
			}			